body {
    height: 100%;
    width: 96%;
    text-align: center;
    background-color: rgb(230, 211, 187);
    color-adjust: #ffffff;
    display: center;
}

#nav {
    background-color: rgb(37, 16, 0);
    color: #ffff;
    text-align: center;
    width: 100%;
    position: fixed;
    border-bottom: 15px;
    border-bottom-color: blueviolet
}

#nav a {
    color: #ffff;
    padding: 5px;
}

#nav a:hover{
    background-color: #ffffff;
    color: #000000;
}

.btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border: 2px;
    border-color: #ffffff;
    border-radius: 5px;
}

.btn:hover{
    color: #000000;
    background-color: #ffffff;
}

.btn:focus{
    cursor: pointer;
}

.btn a{
    color: #ffffff
}

.btn a:hover{
    color: #000000;
    background-color: #ffffff;
}

.dropdown {
    float:right;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
   }
   
   .dropdown-content {
     color: #130202;
     display: none;
     position: absolute;
     background-color: #DCDCDC;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown .dropbtn {
     font-size: 20px;  
     border: none;
     outline: none;
     color: #130202;
     padding: 14px 16px;
     background-color: #DCDCDC;
     font-family: inherit;
     margin: 0;;
   }
   
   .dropdown-content a {
     background-color: #868b7c;
   }
   
   .dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
   .dropdown-content a:hover {
     background-color: #ddd;
   }
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
   
   .dropdown-icon {
     padding-left: 5px;
   }
.header {
    background-color: #B0C4DE;
    float: right;
    margin-top: 100px;

}

.header h1 {
    position: left;
    text-align: left;
}

.header-right {
    margin-top: -50px;
    text-align: right;
}

.cardy {

}

.card {
    margin: 10px;
    width: 300;
    height: auto;
}

.card-header {
    color: #800000;
    background-color: #ffffff;
}

.card-body {
    
    background-color: #D3D3D3;
}

.card-footer {
    background-color: #130202;
    color: #ffffff;
}

.footer{
    background-color: #868b7c;
    color: #130202;
    position: fixed;
}

/* about.html */
#how-we-look {
    background-color: #FFF8DC;
}

.visit {
    float: right;
    text-align: center;
    width: 40%;
    margin: 7%;
}

#hours {
    width: 40%;
    margin: 7%;
    
}

#hours span {
    margin-left: 30px;
}

#hours #sunday  {
    margin-right: 35px;
}

#hours #sunday #closed {
    margin-left: 40px;
}

/* login and sign Up Pages*/
input{
    color: #130202 ;
    border-radius: 35px;
    padding: 10px;
}